.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.mat-card-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.mar-card{
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p{
    font-size: 10px;
    padding: 10px;
}

.form-container{
    margin: 100px auto;
    height: 50vh;
    max-width: 650px; /* Puedes ajustar este valor según tus necesidades */
    width: 100%;

}
.error-message {
    margin-top: 5px;
    font-size: 14px;
    color: #a94442;
  }

  .mat-card-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  } 

  .form-center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .centered-image {
    margin-top: 20px; /* Ajusta el margen superior según lo necesites */
    max-width: 100%; /* Ajusta el tamaño de la imagen según lo necesites */
    align-self: center; /* Centra horizontalmente la imagen */
  }

  .text-danger{
    color: red;
  }

