<footer class="box footer">
  <div class="container">
    <div class="container-fluid">
        <div class="row">
          <div class="message">
            <p>
              "Año de la unidad, la paz y el desarrollo"
            </p>
          </div>
        </div>
      <div class="icon">
        <a href="" class="icon">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="icon">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="icon">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="icon">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="icon">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
    <div class="footer-text">
     Asociación de Arte y Cultura de Lima
    </div>
  </div>
</footer>